* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Ablation";
  src: url(../fonts/Ablation_PersonalUse.otf);
}
body {
  background-color: #00111c;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  background-color: #001523;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
}
header img {
  height: 70px;
  width: 250px;
}

header a {
  font-family: "Ablation", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #edf2fb;
}

ul {
  list-style-type: none;
}

.navbar-brand {
  padding-left: 30px;
}

.navbar-collapse {
  justify-content: end;
  padding-right: 30px;
}

.navbar-collapse li {
  row-gap: 20px;
}

.navbar {
  background-color: #001523;
  width: 100%;
}

.nav-link {
  color: #edf2fb;
  font-weight: 300;
}

.navbar-toggler {
  color: #edf2fb;
}

.navbar-toggler-icon {
  background-color: #edf2fb;
  border-radius: 5px;
}

img {
  max-width: 100%;
}

/* FOOTER */
#footer {
  background-color: #002137;
  margin-top: 20px;
}

.pie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #edf2fb;
}
.pie a {
  list-style-type: none;
  text-decoration: none;
  color: #edf2fb;
}

@media (max-width: 768px) {
  .pie {
    padding-bottom: 15px;
  }
}
.lista-footer {
  font-family: "ablation", sans-serif;
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.lista-footer li {
  text-align: center;
}

@media (max-width: 768px) {
  .lista-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
  }
}
@media (max-width: 520px) {
  .lista-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
.redes-sociales {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

@media (max-width: 520px) {
  .redes-sociales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 30px;
  }
}
.direccion {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: right;
  padding-right: 10px;
}
.direccion a {
  text-decoration: none;
  color: #edf2fb;
}

.derechos {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
}
.derechos p {
  color: #edf2fb;
  margin-bottom: 0px;
}

/* NUEVO INDEX */
/* BANNER PRINCIPAL */
.banner {
  background-image: url(../img/casa1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.banner h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #001523;
  text-align: center;
  background-color: rgba(197, 192, 192, 0.4862745098);
}

.intro {
  color: #edf2fb;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  font-weight: normal;
  padding: 60px 60px 60px 60px;
}

.padre-index {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 768px) {
  .padre-index {
    display: grid;
  }
}
.index-pag, .i--serv, .i--proy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  color: #edf2fb;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  background-color: #001a2c;
}
.index-pag h3, .i--serv h3, .i--proy h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
}

.enlace-index {
  text-decoration: none;
}

.i--proy {
  background-color: #00111c;
}

.i--serv {
  background-color: #001a2c;
}

.index-pag img, .i--proy img, .i--serv img {
  width: 400px;
  height: 300px;
}

@media (max-width: 520px) {
  .index-pag, .i--proy, .i--serv {
    display: grid;
    grid-template-rows: 1, 1fr;
    justify-items: center;
    padding-right: 0px;
  }
}
@media (max-width: 768px) {
  .index-pag img, .i--proy img, .i--serv img {
    width: 250px;
    height: 200px;
  }
}
.parrafo-index {
  padding-left: 30px;
  padding-right: 30px;
}

.titulo-nos {
  padding: 80px 80px 80px 80px;
  margin-bottom: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #edf2fb;
}
.titulo-nos p {
  padding-left: 40px;
}
.titulo-nos p small {
  color: rgba(148, 182, 233, 0.7019607843);
  font-size: 20px;
  font-weight: 500;
}

.banner-nos {
  background-image: url(../img/nos-banner.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-nos h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #001523;
  text-align: center;
  background-color: rgba(229, 214, 214, 0.6705882353);
}

.nos-padre {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #001a2c;
}

@media (max-width: 768px) {
  .nos-padre {
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
  }
}
.nos-texto {
  color: #edf2fb;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-align: justify;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 65px;
}

@media (max-width: 520px) {
  .nos-texto {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.nos-img {
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

@media (max-width: 768px) {
  .nos-img {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 520px) {
  .nos-img img {
    height: 290px;
    width: 460px;
  }
}
.nos-equipo {
  color: #edf2fb;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 80px;
}

.titulo-equipo {
  display: flex;
  justify-content: start;
  padding-left: 40px;
  font-weight: 300;
}

.equipo h4 {
  font-weight: 300;
  padding-left: 60px;
}

@media (max-width: 768px) {
  .titulo-equipo {
    display: grid;
    justify-content: center;
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .equipo h5 {
    display: grid;
    justify-items: center;
    padding: 0px;
  }
}
.equipo-padre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

@media (max-width: 480px) {
  .equipo-padre {
    display: grid;
    grid-template-columns: 1;
    justify-items: center;
  }
}
@media (min-width: 481px) {
  .equipo-padre {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}
@media (min-width: 768px) {
  .equipo-padre {
    grid-template-columns: repeat(4, 4fr);
  }
}
.hijo-equipo i {
  font-size: 2.5rem;
}
.hijo-equipo i p {
  font-size: 1.2rem;
  padding-top: 30px;
}

.titulo-proy {
  padding: 80px 80px 80px 80px;
  margin-bottom: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #edf2fb;
}
.titulo-proy p {
  padding-left: 40px;
}
.titulo-proy p small {
  color: rgba(148, 182, 233, 0.7019607843);
  font-size: 20px;
  font-weight: 500;
}

.container-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .container-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (min-width: 992px) {
  .container-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card {
  max-width: 100%;
  z-index: 1;
  background-color: #001a2c;
}
.card p {
  color: rgba(148, 180, 228, 0.9882352941);
}

.card {
  transition: all 0.5s;
}
.card:hover {
  transform: scale(1.1, 1.1);
}

.card-img-top {
  height: 300px;
}

#casas {
  background-color: #001a2c;
  padding-top: 20px;
  padding-bottom: 30px;
}
#casas h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #edf2fb;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}

#casas iframe {
  display: flex;
  padding-top: 20px;
  margin-left: 40px;
}

#edificios {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #00111c;
}
#edificios h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #edf2fb;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}

#edificios iframe {
  display: flex;
  padding-top: 20px;
  margin-left: 40px;
}

#oficinas {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #001a2c;
}
#oficinas h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #edf2fb;
  margin-left: 30px;
  padding-bottom: 30px;
}

.titulo-serv {
  padding: 80px 80px 80px 80px;
  margin-bottom: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #edf2fb;
}
.titulo-serv p {
  padding-left: 40px;
}
.titulo-serv p small {
  color: rgba(148, 182, 233, 0.7019607843);
  font-size: 20px;
  font-weight: 500;
}

.servicios {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 30px;
}
.servicios p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300px;
  color: #edf2fb;
}

#lista-servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-items: center;
  padding: 70px;
  background-color: #001a2c;
}
#lista-servicios h4 {
  color: #edf2fb;
  font-size: 20px;
  font-weight: 300;
  justify-content: center;
}
#lista-servicios i {
  color: #edf2fb;
  font-size: 2.5rem;
  justify-content: center;
  align-items: center;
}
#lista-servicios p {
  color: rgba(148, 180, 228, 0.9882352941);
  font-size: 16px;
  text-align: justify;
}

@media (max-width: 576px) {
  #lista-servicios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    justify-items: center;
  }
}
@media (min-width: 577px) {
  #lista-servicios {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
  }
}
@media (min-width: 992px) {
  #lista-servicios {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
.cajas-serv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.proceso {
  padding-top: 50px;
}
.proceso h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #edf2fb;
  text-align: left;
}

#carouselWithCaptions {
  margin-right: 0px;
  margin: 0 auto;
  height: 500px;
  width: 800px;
  z-index: -1;
}

@media (max-width: 576px) {
  #carouselWithCaptions {
    height: 200px;
    width: 300px;
  }
}
@media (min-width: 577px) {
  #carouselWithCaptions {
    height: 300px;
    width: 500px;
  }
}
@media (min-width: 768px) {
  #carouselWithCaptions {
    height: 400px;
    width: 650px;
  }
}
@media (min-width: 992px) {
  #carouselWithCaptions {
    height: 450px;
    width: 900px;
  }
}
.carousel-caption {
  background-color: rgba(240, 242, 244, 0.53);
}
.carousel-caption h5, .carousel-caption p {
  color: #001a2c;
}

@media (max-width: 576px) {
  .carousel-caption {
    height: 100px;
    width: 200px;
  }
  .carousel-caption p {
    font-size: small;
  }
}
img {
  size: 100%, 100%;
}

@media (max-width: 576px) {
  .carousel-inner img {
    height: 200px;
    width: 300px;
  }
}
@media (min-width: 577px) {
  .carousel-inner img {
    height: 300px;
    width: 500px;
  }
}
@media (min-width: 768px) {
  .carousel-inner img {
    height: 400px;
    width: 650px;
  }
}
@media (min-width: 992px) {
  .carousel-inner img {
    height: 450px;
    width: 900px;
  }
}
.titulo-cont {
  padding: 80px 80px 80px 80px;
  margin-bottom: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #edf2fb;
}
.titulo-cont p {
  padding-left: 40px;
}
.titulo-cont p small {
  color: rgba(148, 182, 233, 0.7019607843);
  font-size: 20px;
  font-weight: 500;
}

.iframe iframe {
  width: 100%;
  height: 250px;
  margin-top: 40px;
  margin-left: 0px;
}

.padre-form {
  font-family: "Montserrat", sans-serif;
  color: #edf2fb;
  font-weight: 300;
}
.padre-form h3 {
  padding-top: 10px;
  padding-left: 30px;
}

.formulario {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin: 30px 30px 30px 30px;
  padding-top: 30px;
  width: fit-content;
}

label {
  color: #edf2fb;
  margin-right: 20px;
}

.form-label {
  padding-top: 5px;
}

.boton-form {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
