.titulo-proy{
   @include titulos
}

.container-cards {
   @include flex-column-center;
    align-items: center;
    gap: 20px;
}

@media (min-width: 768px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (min-width: 992px) {
    .container-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
.card {
    max-width: 100%;
    z-index: 1;
    background-color: $bg-body2;
    
    p{
        color: $font-color2;
    }
}

.card {
    transition: all 0.5s;

    &:hover {
            transform: scale(1.1,1.1);
        }
  }
        

.card-img-top {
    height: 300px;
}

#casas{
    background-color: $bg-body2;
    padding-top: 20px;
    padding-bottom: 30px;
    h3{
        font-family: 'Montserrat',sans-serif;
        font-weight: 400;
        color: $font-color;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 30px;}
}

#casas{
     iframe{
        display: flex;
        padding-top: 20px;
        margin-left: 40px;
    }    
}


#edificios{
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: $bg-body1;

    h3{
        font-family: 'Montserrat',sans-serif;
        font-weight: 400;
        color: $font-color;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
    }
}

#edificios{
    iframe{
            display: flex;
            padding-top: 20px;
            margin-left: 40px;
        }
} 

#oficinas{
   padding-top: 20px;
   padding-bottom: 30px;
   background-color: $bg-body2;

    h3{
        font-family: 'Montserrat',sans-serif;
        font-weight: 400;
        color: $font-color;
        margin-left: 30px;
        padding-bottom: 30px;
    }

}

