//COLORES
$bg-body1: #00111c;
$bg-body2: #001a2c;
$header-color: #001523;
$footer-color: #002137;
$font-color: #edf2fb;
$font-color2: #94b4e4fc;

//FUENTE
$fuente-principal: "Montserrat", sans-serif;
$titulo-fuente: "Montserrat", sans-serif 300;

//MIXIN
@mixin flex-column-center {
	display:flex;
	flex-direction: column;
	justify-content:center;
    
}

@mixin titulos {
	padding: 80px 80px 80px 80px;
	margin-bottom: 0px;
    font-family: $fuente-principal;
    font-weight: 300;
    color: $font-color;
	p{
		padding-left: 40px;
	
		 small{
			 color:#94b6e9b3;
			 font-size: 20px;
			 font-weight: 500;
			}

}
}